@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

$blackColor: rgb(37, 32, 32);
$whiteColor:rgb(232,232,232);
$titleFont:Arial, Helvetica, sans-serif;
$bodyFont:"Times New Roman", Times, serif;
$redColor:#BD281A;
$darkRedColor:#701108;
$prettyFont:  'Courgette', cursive;