
@import '../variablescss/variables.scss';

.detailsFlex{
   display: flex;
   flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 40px;
    padding: 1px;

    section{
        width:100px;
        padding: 1px;
        transition: padding .5s, box-shadow .5s;

      &:hover{
          border: rgb(139, 133, 133) solid 1px;
          border-radius: 5px;
          padding: 1px;
          box-shadow: 2px 3px 6px rgb(185, 185, 185);
          
      }  
    }
}
.muColors{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    
}
.productName{
    font-size: 12px;
    font-weight: bold;
}
.price{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 10px;
}


.fa{
    color: rgb(201, 201, 63);
   fill: black;
}


.makeupName{
    font-family: $prettyTitleFont;
    font-size: 35px;
    width:50%;
    margin: 10px auto;
    transition: color 1s;
    &:hover{
        color: $redColor;
    }
}

.flexForm{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 15px;

}
input{
    background-color: $blackColor;
    color: $whiteColor;
    border:none;
    border-radius: 15px 0px 0px 15px;
    height: 20px;
    padding: 3px;

 
      
}

.searchBtn{
    background-color: $blackColor;
    color: $whiteColor;
    border:none;
    border-radius: 0px 15px 15px 0px;
    height: 26px;
    padding-right: 13px;
    
    ;
}