
.detailsFlex{
   display: flex;
   flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin: 40px;
    section{
        width:100px;
    }
}
.muColors{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    
}
.productName{
    font-size: 12px;
    font-weight: bold;
}
.price{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 10px;
}


.stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
  }




