@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Playfair+Display:ital@1&display=swap");
.navbar {
  width: 100%;
  height: 60px;
  background-color: #252020;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navbar a {
  color: #e8e8e8;
  font-size: 25px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
}

.menuGrow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.mainHeader {
  background-image: url("../images/makeupbag.jpg");
  background-size: cover;
  height: 520px;
  width: 65%;
  font-size: 20px;
  font-family: "Courgette", cursive;
  color: #701108;
  border: solid #BD281A 5px;
  margin-left: auto;
  margin-right: auto;
}

.mainSection {
  padding: 3px;
  margin: 75px 45px;
}

.flexSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 65px;
          column-gap: 65px;
  row-gap: 50px;
}

.blush, .eyeshadow, .foundation, .mascara, .nailpolish, .lipstick, .bronzer, .lipliner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
}

.blushPic, .eyeshadowPic, .foundationPic, .mascaraPic, .nailpolishPic, .lipstickPic, .bronzerPic, .liplinerPic {
  height: 150px;
  width: 150px;
  padding: 0px;
}

.blushTitle, .eyeshadowTitle, .foundationTitle, .mascaraTitle, .nailpolishTitle, .lipstickTitle, .bronzerTitle, .liplinerTitle {
  background-color: #252020;
  width: 100%;
  height: 50px;
  color: white;
  font-Size: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px 10px;
  -webkit-transition: background-color 1s, color 1s;
  transition: background-color 1s, color 1s;
  cursor: pointer;
}

.blushTitle:hover, .eyeshadowTitle:hover, .foundationTitle:hover, .mascaraTitle:hover, .nailpolishTitle:hover,
.lipstickTitle:hover, .bronzerTitle:hover, .liplinerTitle:hover {
  background-color: white;
  color: #252020;
  border: solid #252020 1px;
}

.rewards {
  height: 60px;
  width: 80%;
  margin: 15% 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #BD281A;
  border-radius: 15px;
  color: #e8e8e8;
}

.rewards:hover {
  -webkit-box-shadow: 2px 2px 6px #252020;
          box-shadow: 2px 2px 6px #252020;
}

.navbar {
  background-color: #252020;
  margin-bottom: 15px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  color: #e8e8e8;
}

.nav-menu {
  background-color: #252020;
  width: 200px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  -webkit-transition: 1050ms;
  transition: 1050ms;
}

.nav-menu.active {
  left: 0;
  -webkit-transition: 1350ms;
  transition: 1350ms;
}

.nav-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #BD281A;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #252020;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.address-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.address {
  margin: 35px;
}

@media screen and (max-width: 1000px) {
  .mainHeader {
    height: 510px;
    width: 85%;
  }
}

@media screen and (max-width: 750px) {
  .mainHeader {
    height: 400px;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    font-size: 16px;
  }
  .mainHeader .mainSection {
    margin: 75px 15px;
  }
}

@media screen and (max-width: 500px) {
  .mainHeader {
    height: 280px;
    width: auto;
    font-size: 14px;
  }
}
/*# sourceMappingURL=styles.css.map */